.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
static/img/1+x.png
static/img/1+x实验室.jpg
static/img/1+x展示.jpg
static/img/active.png
static/img/addr.png
static/img/apprenticeships_title.png
static/img/apprenticeships1.png
static/img/apprenticeships2.png
static/img/apprenticeships3.png
static/img/avatar_index_01.jpg
static/img/avatar_index_02.jpg
static/img/company-1.png
static/img/company-2.png
static/img/companyedu1.png
static/img/companyedu2.png
static/img/companynews-1.png
static/img/companynews-2.png
static/img/companynews-3.png
static/img/companynews-4.png
static/img/companynews-5.png
static/img/contact-erweima.png
static/img/cooperation.png
static/img/cooperationcompany-1.png
static/img/cooperationcompany-2.png
static/img/cooperationcompany-3.png
static/img/cooperationcompany-4.png
static/img/cooperationcompany-5.png
static/img/cooperationschool-1.png
static/img/cooperationschool-2.png
static/img/cooperationschool-3.png
static/img/cooperationschool-4.png
static/img/cooperationschool-5.png
static/img/cooperationschool-6.png
static/img/cooperationschool-7.png
static/img/cooperationschool-8.png
static/img/cooperationschool-9.png
static/img/cooperationschool-10.png
static/img/cooperationschool-11.png
static/img/cooperationschool-12.png
static/img/cooperationschool-13.png
static/img/cooperationschool-14.png
static/img/credit.png
static/img/departmentinform.jpg
static/img/firend_1.jpg
static/img/firend_15.png
static/img/firend_16.png
static/img/friend_1.png
static/img/friend_2.png
static/img/friend_3.png
static/img/friend_4.png
static/img/friend_5.png
static/img/friend_6.png
static/img/friend_7.png
static/img/friend_8.png
static/img/friend_9.png
static/img/friend_10.png
static/img/friend_11.png
static/img/friend_12.png
static/img/friend_13.png
static/img/friend_14.png
static/img/friend_15.png
static/img/friend_16.png
static/img/friend_17.png
static/img/friend_18.png
static/img/friend_19.png
static/img/friend_20.png
static/img/friend_21.png
static/img/friend_22.png
static/img/friend_23.png
static/img/friend_24.png
static/img/friend-1.png
static/img/friend-2.png
static/img/friend-3.png
static/img/friend-4.png
static/img/friend-5.png
static/img/friend-6.png
static/img/friend-7.png
static/img/friend-8.png
static/img/friend-9.png
static/img/friend-10.png
static/img/friend-11.png
static/img/friend-12.png
static/img/friend-13.png
static/img/friend-14.png
static/img/gongshang-1.jpg
static/img/gongshang-2.jpg
static/img/hj_1.png
static/img/hj_2.png
static/img/hj.png
static/img/homecarousel-1.png
static/img/homecarousel-2.png
static/img/homecarousel-3.png
static/img/homecarousel-4.png
static/img/hr-1.png
static/img/hr-2.png
static/img/hz_1.png
static/img/hz_2.png
static/img/img-right.png
static/img/iot_1.png
static/img/iot_2.png
static/img/iot_3.png
static/img/iot_4.png
static/img/labsolution_iot_title.png
static/img/labsolution_iot1.png
static/img/labsolution_iot2.png
static/img/labsolution_iot3.png
static/img/labsolutions_blockchain_title.png
static/img/labsolutions_blockchain1.png
static/img/labsolutions_blockchain2.png
static/img/labsolutions_blockchain3.png
static/img/labsolutions_blockchain4.png
static/img/logo-right.png
static/img/logo.jpg
static/img/lunbotu-1.jpg
static/img/meeting.png
static/img/new-jiang1.png
static/img/new-jiang2.png
static/img/product_1.jpg
static/img/product_2.png
static/img/product_3.png
static/img/shtx.png
static/img/tel.png
static/img/tree.png
static/img/weixin.png
static/img/xlab-1.jpg
static/img/xlab-2.jpg
static/img/xlab-3.jpg
static/img/xlab-4.jpg
static/img/xlab-5.jpg
static/img/yunkai_a.png
static/img/yunkai_b.png
static/img/yunkai_c.png
static/img/yunkai.png
static/img/yunkai1.png
static/img/yunkai2.png
static/img/yunkai3.png
static/img/yunkai4.png
static/img/yunkai5.png
