.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
static/img/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

static/testvideo1.mp4
static/testvideo.mp4
static/testvideo2.mp4
static/testvideo3.mp4
