.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
static/img/apprenticeships_title.png
static/img/apprenticeships1.png
static/img/apprenticeships2.png
static/img/apprenticeships3.png
static/img/labsolution_iot_title.png
static/img/labsolution_iot1.png
static/img/labsolution_iot2.png
static/img/labsolution_iot3.png
static/img/labsolutions_blockchain_title.png
static/img/labsolutions_blockchain1.png
static/img/labsolutions_blockchain2.png
static/img/labsolutions_blockchain3.png
static/img/labsolutions_blockchain4.png
static/img/product_1.jpg
static/img/product_2.png
static/img/product_3.png
static/img/yunkai_a.png
static/img/yunkai_b.png
static/img/yunkai_c.png
static/img/yunkai.png
static/img/yunkai1.png
static/img/yunkai2.png
static/img/yunkai3.png
static/img/yunkai4.png
static/img/yunkai5.png
